:root {
    --color-cyan: #00f2ff;
    --color-cyan-glow: rgba(0, 242, 255, 0.4);
    --color-bg-matte: #0f1218;
    --color-glass: rgba(255, 255, 255, 0.05);
    --color-glass-border: rgba(255, 255, 255, 0.1);
    --blur-std: blur(15px);
    
    --danger: #ff3b3b;
    --crew: #3b82f6;
    --muted: #64748b;
    
    --font-main: 'Inter', sans-serif;
    --transition-hud: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}